.product-image {
    object-fit: contain;
    height: 10em !important;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    text-align: center;
}